<section class="left-section">
    <h1>Dashboard</h1>

  <a href="./profile.html">
    <div class="single-div">
        <div class="image-container">
            <img src="./images/portifo_mukama.png" alt="">
        </div>
        <div class="text-container">
            <p class="name">Mukama</p>
            <p>Admin</p>
        </div>
    </div>

  </a>

 <a href="./notifications.html">
    <div class="single-div">
        <div class="icon-container">
            <img src="./images/icons/notifications.svg" alt="">
        </div>
        <div class="text-container">
            Notifications
        </div>
    </div>
 </a>

  <a href="./addNewBlog.html">
    <div class="single-div">
        <div class="icon-container">
          <img src="./images/icons/blog.svg" alt="">
        </div>
        <div class="text-container">
            Blogs
        </div>
    </div>
  </a>

  <a href="./subscribers.html">
    <div class="single-div">
        <div class="icon-container">
          <img src="./images/icons/subscriptions.svg" alt="">
        </div>
        <div class="text-container">
            Subscriptions
        </div>
    </div>
  </a>

  <a href="./summary.html">
    <div class="single-div">
        <div class="icon-container">
          <img src="./images/icons/dashboard.svg" alt="">
        </div>
        <div class="text-container">
            Summary
        </div>
    </div>
  </a>
  <a href="/admin/logout">
    
    <div class="single-div">
        <div class="icon-container">
          <img src="./images/icons/logout.svg" alt="">
        </div>
        <div class="text-container">
            Logout
        </div>
    </div>
  </a>
   
</section>