<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/admin_.css">
</head>
<body>
    <%- include('../partials/admin_left_panel.ejs') %>
    <main>
        <%- body %>
    </main>
    
</body>
</html>