@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* html{
    scroll-behavior: smooth;
} */

body{
    color:#fff;
    font-family: 'Roboto', sans-serif;
}


/* -------------------Home----------------------------- */
#home{
    width: 100%;
    height: auto;
    background-color: #6e6e6e;
}

.container-overlay{
    font-family: 'Inknut Antiqua', serif;
    padding:20px 5%;
    height: auto;
    padding-bottom: 120px;
    color:white;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #333;
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    padding: 0 5%;
    z-index: 100;
    
}
.top-nav h2 a{
    text-decoration: none;
    color:#fff;
}
nav h1{
width: fit-content;
}
.menu-list-top{
    display: flex;
    justify-content: center;
    align-items: center;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin:10px 20px;
}

nav ul li a{
    color:white;
    text-decoration: none;
    position: relative;
    font-size: 18px;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background-color:#bcfd4c;
    position: absolute;
    left:0;
    bottom:0;
    transition: 0.6s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav h2 span{
    color:#bcfd4c;
}
.signIn-link{
    height: 40px;

}

.signIn-link,.more-on-me-link,.hire-me-btn,.more-skills-link,.see-more-portifo,.signOut-link{
    color: #000;
    background: #bcfd4c;
    text-decoration: none;
    padding: 3px 20px;
    border-radius: 30px;
    border:none;
    transition: transform 0.6s;
}
.signIn-link a,.more-on-me-link a,.hire-me-btn a,.more-skills-link a,.see-more-portifo a,.signOut-link a{
    color: #000;
    font-family: 'Inknut Antiqua', serif;
    text-decoration: none;
    transition: color 0.2s;
    display: block;
  
}

.signIn-link:hover,.more-on-me-link:hover,.hire-me-btn:hover,.more-skills-link:hover,.see-more-portifo:hover,.signOut-link:hover{
    background: #fff;
    color: #000;
    transform: scale(1.07);
}

.signIn-link a:hover,.more-on-me-link a:hover,.hire-me-btn a:hover,.more-skills-link a:hover,.see-more-portifo a:hover,.signOut-link a:hover{
    color: #000;
}



.home-details{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-details .left-container-home{
    flex-basis: 55%;
  
}

.home-details .right-container-home{
    flex-basis: 40%;
}

.right-container-home img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.home-details .my-name{
    margin:20px auto;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
}

.my-name span{
    font-size: 32px;
    font-weight: 700;
}


.home-details .intro-career{
    width: 95%;
    margin-bottom: 80px;
    font-family: 'Inknut Antiqua', serif;
    line-height: 36px;
}

.intro-career span{
    color:#bcfd4c;
    font-size: 34px;
    font-weight: 700;
    white-space: nowrap;
}


/* ------------------------------About me-------------------- */


#about-me{
    background-color: #6e6e6e;
    padding:50px 5%;
}

.container-about-me .row{
    display: flex;
    justify-content: space-between;
   
}

.container-about-me h1, .container-my-skills h1,.container-portifo h1, .blogs-container h1,.contact-container h1{
    font-size: 28px;
    font-family: 'Roboto', serif;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
}

.container-about-me h1 hr, .container-my-skills h1 hr,.container-portifo h1 hr, .blogs-container h1 hr,.contact-container h1 hr{
    width: 40px;
    background-color:#bcfd4c;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.container-about-me h1 span,.container-my-skills h1 span,.container-portifo h1 span, .blogs-container h1 span,.contact-container h1 span{    
    color: #bcfd4c;
    font-size: 38px;
    font-weight: bolder;
}
.row .col-left{
    flex-basis: 35%;
}

.row .col-left img{
    width: 100%;
    height: auto;
}
.row .col-right{
    flex-basis: 60%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#fff;
}
.about_me_description{
    font-family:'Inknut Antiqua';
    line-height: 32px;

}

.hire-getCV{
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
}

.get-cv-btn{
    background-color: #fff;
    color: #000;
    padding: 3px 20px;
    border-radius: 30px;
    border:none;
    transition: transform 0.6s;
   
}

.get-cv-btn a{
    color: #000;
    text-decoration: none;
    font-family: 'Inknut Antiqua', serif;
    display: block;
}



.get-cv-btn:hover{
    background: #bcfd4c;
    transform: scale(1.03);

}

.get-cv-btn a:hover{
    color:#000;
}


/* ----------------------------Skills--------------------- */
/* .container-my-skills{
    width:80%;
    display: flex;
    justify-content: center;
} */

.all-skills-list{
    display: flex;
    justify-content: center;
}

.all-skills-list .left-container-skills,.all-skills-list .right-container-skills{
    flex-basis: 48%;
    margin: 0 20px;
}

#my-skills{
    padding:50px 5%;
    background-color: #6e6e6e;
}

.progress-bar{
    width: 100%;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 20px;
    border:2px solid #000;
    position: relative;
}

.progress-bar .progress{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background-color: #bcfd4c;
    border-radius: 30px;
}

.progress span{
    color:#000;
    font-size:14px;
    position: absolute;
    right: 10px;
    font-weight: 700;

}

.single-skill p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-left:20px;
}

.more-skills-link{
    margin-top: 30px;
    text-align: center;
}


/* --------------------Portifolio-------------- */



#my-portifolio{
    padding:50px 5%;
    background-color: #6e6e6e;
}

.grommet-icons--link-next {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-width='2' d='M2 12h20m-9-9l9 9l-9 9'/%3E%3C/svg%3E");
  }

  .material-symbols--share {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M18 22q-1.25 0-2.125-.875T15 19q0-.175.025-.363t.075-.337l-7.05-4.1q-.425.375-.95.588T6 15q-1.25 0-2.125-.875T3 12q0-1.25.875-2.125T6 9q.575 0 1.1.213t.95.587l7.05-4.1q-.05-.15-.075-.337T15 5q0-1.25.875-2.125T18 2q1.25 0 2.125.875T21 5q0 1.25-.875 2.125T18 8q-.575 0-1.1-.212t-.95-.588L8.9 11.3q.05.15.075.338T9 12q0 .175-.025.363T8.9 12.7l7.05 4.1q.425-.375.95-.587T18 16q1.25 0 2.125.875T21 19q0 1.25-.875 2.125T18 22'/%3E%3C/svg%3E");
  }

.portifo-list{
   display: grid;
   grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
   /* grid-template-columns: 1fr 1fr; */
   gap:30px;
}
.portifo-list .single-portifo{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: transform 0.6s;

}

.single-portifo:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.single-portifo img{
    width: 100%;
    height: 400px;
    position: relative;
}

.portifo-links ul{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    z-index: 10;
}
.portifo-links ul li a{
    color:#fff;
    font-weight: bold;
    font-size: 24px;
}
.single-portifo .layer{
    position: absolute;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 20px;
    border-radius: 10px;
    bottom: 0;
    left:0;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.7),#bcfd4c);
    /* background: #bcfd4c; */
    transition: height 0.9s ease-in-out;
}

.layer .share-next{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.layer h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    padding-top:20px;
    font-family: 'Roboto', sans-serif;

}

.layer p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;

}

.share-next button{
    margin: 80px 160px;
    padding:4px 20px;
    background-color: #bcfd4c;
    border:#fff solid 1px;
    border-radius: 10px;
    transition:transform 0.4s;
}
.share-next button:hover{
    transform:translateY(-2px);
    transform: scale(1.03);
}

.single-portifo:hover .layer{
    height: 100%;
}


.see-more-portifo{
    margin-top: 30px;
    text-align: center;
}

/* =====================Blogs==================== */

#my-blogs{
    padding:50px 5%;
    background-color: #6e6e6e;
}


.blog-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:40px;
}
.single-blog{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: transform 0.6s;
    color:#fff;
    height: auto;
}
.single-blog:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.single-blog img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.single-blog .blog-details{
    padding:3px 12px;
}
.blog-details h3{
    font-size: 24px;
    font-weight: 600;
    margin:20px;
    font-family: 'Roboto', sans-serif;

}
.blog-details h3:hover{
    color:#bcfd4c;
}

.blog-details p{
    font-size: 18px;
    font-weight: 400;
    margin:20px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    align-items: center;

}

.blog-details p a{
    color:#bcfd4c;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;

}
.blog-details a:hover{
    border-bottom: 2px solid #bcfd4c;
}
.comments-datePublish{
    display: flex;
    justify-content: space-between;
    margin:20px;
}

.fa-solid{
    color:#bcfd4c;
    margin-right: 8px;
}

/* ================Contact================= */

#contact{
    padding:50px 5%;
    background: #6e6e6e;
}

.contact-details p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Inknut Antiqua', sans-serif;
    text-align: justify;
    align-items: center;


}
form input,form textarea{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border:1px solid #bcfd4c;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.send-message-btn{
    color: #000;
    background-color: #bcfd4c;
    padding: 3px 12px;
    font-family: 'Inknut Antiqua', sans-serif;
    border-radius: 30px;
    border:none;
    font-weight: bolder;
    transition: transform 0.6s;
}

.send-message-btn:hover{
    background: #fff;
    transform: scale(1.03);
    color:#000;
}


/* =======================Footer========================= */

#footer{
    padding-top:50px;
    padding-bottom: 20px;
    background: #333;
    color:white;
    font-family: 'Inknut Antiqua', sans-serif;
    
}
.footer-container{
    font-family: 'Inknut Antiqa', sans-serif;
    display:flex;
    justify-content: space-between;

}
.who-I-am{
    font-family: 'Inknut Antiqa', sans-serif;
    flex-basis:35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;
}
.who-I-am h3{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;


}
.who-I-am p{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: justify;
    align-items: center;


}

.quick-links{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quick-links h3{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;

}
.quick-links a{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 12px;
}
.bottom-quick-links li{
    margin:0;
    display: block;
}
.subscribe-myProjects{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.subscribe-myProjects h3{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;

}

.subscribe-myProjects input{
    width: 90%;
    padding:12px 10px;
    border:1px solid #bcfd4c;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-top:12px;
}

.subscribe-button{
    width: 90%;
    color: #000;
    background-color: #bcfd4c;
    padding: 3px 12px;
    font-family: 'Inknut Antiqua', sans-serif;
    border-radius: 30px;
    border:none;
    font-weight: bolder;
    margin-bottom: 20px;
    transition: transform 0.6s;
}

.subscribe-button:hover{
    background: #fff;
    transform: scale(1.03);
    color:#000;
}
.fa-brands{
    color:#F24E1E;
    margin-bottom: 20px;
}
.my-google-map,.my-phone,.my-email{
    text-align: center;
    font-size: 12px;
    font-family: 'Inknut Antiqua', sans-serif;
    cursor: pointer;
    margin-top:20px;
}
.my-google-map img{
    width: 24px;
    height: 16px;
    cursor: pointer;
}
.social-icons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.social-icons i{
    font-size: 20px;
    margin: 0 10px;
    transition: transform 0.6s;
}
.social-icons i:hover{
    transform: scale(1.03);
    cursor: pointer;
    transform: translateY(-4px);
}

.copy-right{
    text-align: center;
    font-size: 12px;
    font-family: 'Inknut Antiqua', sans-serif;
    margin-top: 20px;
    color:#bcfd4c;
}


/* -=====================Responsiveness============= */

nav .fa-regular, nav .fa-solid{
    display: none;
}
nav .fa-solid{
    color:white;
    cursor: pointer;
}
@media only screen and (max-width: 900px){

    nav .fa-regular, nav .fa-solid{
        display: block;
        font-size: 24px;
    }

    .container-overlay nav ul{
        background: #333;
        position: fixed;
        top:0;
       /*  right: 0; */ /* we will need to make it -220px to hide it and show it by clicking */
       right: -220px;
        width: 220px;
        height: 100vh;
        padding-top: 50px;
        z-index: 20;
        transition: right 0.8s;
    }
    .container-overlay nav ul button{
        margin-left: 20px;
    }

   .container-overlay nav ul li{
        margin:24px;
        display: block;
    }
    .container-overlay nav ul .fa-regular{
        position: absolute;
        top:30px;
        left:25px;
        cursor: pointer;
    }

    .container-overlay{
        padding:20px;
        height: auto;
    }

   
    nav ul li{
        margin:10px 10px;
    }
    .home-details{
        flex-direction: column;
    }
    .home-details .right-container-home{
        width: 95%;
        padding-right: 20px;
        margin-top:40px;
    }
    .home-details .left-container-home{
        width: 95%;
        justify-content: center;
        padding-top:80px;
    }


    .home-details .my-name{
        margin:20px auto;
    }
    .my-name span{
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
    }
    .home-details .intro-career{
        margin-bottom: 40px;
    }
   .intro-career span{
    font-size: 24px;
   }
    .more-on-me-link,.hire-me-btn,.more-skills-link,.see-more-portifo{
        padding: 3px 10px;
    }
    .more-on-me-link span{
        font-size: 18px;
    }


    /* /=========================/ about me. */
    #about-me,#my-skills,#my-portifolio,#my-blogs,#contact{
        padding:30px 5%;
    }

    .container-about-me{
        padding-top:10px;
    }

    .container-about-me h1, .container-my-skills h1,.container-portifo h1, .blogs-container h1,.contact-container h1{
        font-size: 18px;
        margin:30px 0;;
    }

    .container-about-me h1 hr, .container-my-skills h1 hr,.container-portifo h1 hr, .blogs-container h1 hr,.contact-container h1 hr{
        width: 30px;
        height: 6px;
    }

    .container-about-me h1 span,.container-my-skills h1 span,.container-portifo h1 span, .blogs-container h1 span,.contact-container h1 span{    
        font-size: 20px;
    }
    .container-about-me .row{
        flex-direction: column;
    }

    .col-left img{
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .col-right p{
        font-size: 18px;
    }
    .row .col-left{
        flex-basis: 90%;
    }
    .row .col-right{
        flex-basis: 90%;
    }
    .hire-getCV{
        flex-direction: column;
        width: 95%;
    }
    .hire-getCV button{
        margin-bottom: 20px;
    }
    .get-cv-btn{
        margin-bottom: 30px;
    }
    .container-my-skills{
        width:90%;
        margin: 0 auto;
    }
    .progress-bar{
        width: 100%;
        border: 2px solid #0473b3;
    }
    .single-skill p{
        font-size: 16px;
    }

    .all-skills-list .right-container-skills{
        display: none;
    }

    .all-skills-list .left-container-skills{
        flex-basis: 90%;
    }


/* ------------------- */

    .portifo-list{
        grid-template-columns: 1fr;
        margin: 0 30px;
    }
    .single-portifo img{
        height: 300px;
    }
    .portifo-links ul{
        margin-bottom: 20px;
    }
    .layer h3{
        font-size: 20px;
    }
    .layer p{
        font-size: 16px;
    }
    .share-next button{
        margin: 30px 40px;
    }


/* ====================================== */

    .blog-list{
        grid-template-columns: 1fr;
    }
    .single-blog .blog-details{
        padding:3px 10px;
    }
    .single-blog{
        margin: 0 30px;
    }

    .single-blog img{
        height: 300px;
    }
    .blog-details h3{
        font-size: 20px;
    }
    .blog-details p{
        font-size: 18px;
    }
    .comments-datePublish{
        margin:10px;
    }
    .contact-details p{
        font-size: 16px;
    }
    form input,form textarea{
        width: 95%;
    }

    /* ===============footer========== */
    .footer-container{
        flex-direction: column;
        width:90%;
        padding-left:20px;
    }
    .who-I-am,.quick-links,.subscribe-myProjects{
        flex-basis: 100%;
    }
    .subscribe-myProjects input{
        width: 95%;
    }
    .subscribe-button{
        width:30%;
    }
    .social-icons{
        margin-bottom: 20px;
    }
    .social-icons i{
        font-size: 24px;
    }
    .copy-right{
        margin-top: 10px;
    }
}


@media only screen and (min-width: 901px) and (max-width: 1024px) {

    nav .fa-regular, nav .fa-solid{
        display: block;
        font-size: 24px;
    }

    .container-overlay nav ul{
        background: #333;
        position: fixed;
        top:0;
       /*  right: 0; */ /* we will need to make it -220px to hide it and show it by clicking */
       right: -220px;
        width: 220px;
        height: 100vh;
        padding-top: 50px;
        z-index: 20;
        transition: right 0.8s;
    }
    .container-overlay nav ul button{
        margin-left: 20px;
    }

   .container-overlay nav ul li{
        margin:24px;
        display: block;
    }
    .container-overlay nav ul .fa-regular{
        position: absolute;
        top:30px;
        left:25px;
        cursor: pointer;
    }

    .container-overlay{
        padding:20px;
        height: auto;
    }

   
    nav ul li{
        margin:10px 10px;
    }
    .home-details{
        width: 95%;
        padding-top:120px;
        padding-bottom: 80px;
    }



    


    .home-details .my-name{
        margin:20px auto;
    }
    .my-name span{
        font-size: 32px;
        font-weight: 500;
        white-space: nowrap;
    }
    .home-details .intro-career{
        margin-bottom: 40px;
        font-size: 22px;
    }



   .intro-career span{
    font-size: 32px;
    position: relative;
   }


    .more-on-me-link,.hire-me-btn,.more-skills-link,.see-more-portifo{
        padding: 3px 10px;
    }
    .more-on-me-link span{
        font-size: 18px;
    }


    /* ====================about me======= */
    #about-me,#my-skills,#my-portifolio,#my-blogs,#contact{
        padding:30px 5%;
    }



    /* =====about me========= */

    .container-about-me .row{
        flex-direction: column;
    }

    .col-left img{
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .col-right p{
        font-size: 32px;
    }
    .row .col-left{
        flex-basis: 90%;
    }
    .row .col-right{
        flex-basis: 90%;
    }

/* =============portifolio.========== */
    .portifo-list{
        grid-template-columns: 1fr;
        margin: 0 30px;
    }
    .single-portifo img{
        height: 600px;
    }
    .portifo-links ul{
        margin-bottom: 20px;
    }
    .layer h3{
        font-size: 32px;
    }
    .layer p{
        font-size: 24px;
    }
    .share-next button{
        margin: 200px 120px;
    }


    .blog-list{
        grid-template-columns: 1fr;
    }
    .single-blog .blog-details{
        padding:3px 10px;
    }
    .single-blog{
        margin: 0 30px;
    }

    .single-blog img{
        height: 600px;
    }
    .blog-details h3{
        font-size: 28px;
    }
    .blog-details p{
        font-size: 24px;
    }

    /* ===========contact======= */

        .contact-details p{
            font-size: 24px;
        }
    form input,form textarea{
        width: 100%;
    }


    /* ==================footer======== */
    .footer-container{
        flex-direction: column;
        width:90%;
        padding-left:20px;
    }
    .who-I-am,.quick-links,.subscribe-myProjects{
        flex-basis: 100%;
    }
    .who-I-am ,.quick-links h3,.subscribe-myProjects h3{
        font-size: 32px;
    }
    .who-I-am p,.bottom-quick-links a{
        font-size:24px;
    }
    .subscribe-myProjects input{
        width: 95%;
    }
    .subscribe-button{
        width:95%;
    }
    .social-icons{
        margin-bottom: 20px;
    }
    .social-icons i{
        font-size: 24px;
    }
    .copy-right{
        margin-top: 10px;
    }


}


@media only screen and (min-width:1024px){
    .home-details{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top:130px;
    }
}
