<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #6e6e6e;
            font-family: Arial, sans-serif;
            padding-bottom: 100px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        textarea.form-control {
            resize: vertical;
        }

        button[type="submit"] {
            background-color: #007bff;
            border: none;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }
        .btn-danger{
            background-color: #dc3545;
            border: none;
            margin-left: 40px;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Add New Blog</h2>
    <form action="/admin/add-blog" method="POST">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="image">Image URL:</label>
            <input type="text" class="form-control" id="image" name="image" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="typeOfBlog">Type of Blog:</label>
            <input type="text" class="form-control" id="typeOfBlog" name="typeOfBlog" required>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="/admin/blogs" class="btn btn-danger">Cancel</a>
    </form>
</div>

</body>
</html>
