
<section class="right-section-add-blog">
    <div class="search-container">
        <div class="search">
            <img src="./images/icons/search.svg" alt="">
            <input type="search" name="" id="" placeholder="Search">
         </div>
         <button  class="search-btn" type="submit">Search</button>
    </div>

    <div class="add-new-blog-container">
        <div>
            <h1>Your Blogs</h1>
            <a href="/admin/blogs">
                <img src="./images/icons/next-icon.svg" alt="">
            </a>
        </div>
    </div>

</section>